
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 bg-light">
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner" *ngIf="">
                    <div *ngFor="" class="carousel-item active" data-bs-interval="10000">
                        <img src="" alt="">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->